.content {
    font-weight: bolder;
    font-size: 34px;
    color: rgb(0, 0, 0);
    min-width: 280px;
    font-family: 'Montserrat';
}
.Container {
    background: 
    repeating-linear-gradient(209deg, hsla(238, 100%, 50%, 0.039) 0px, hsla(0, 100%, 50%, 0.039) 1px,transparent 1px, transparent 76px),
    repeating-linear-gradient(77deg, hsla(238, 100%, 50%, 0.039) 0px, hsla(238, 100%, 50%, 0.039) 1px,transparent 1px, transparent 76px),
    repeating-linear-gradient(5deg, hsla(238, 100%, 50%, 0.039) 0px, hsla(238, 100%, 50%, 0.039) 1px,transparent 1px, transparent 36px),
    repeating-linear-gradient(136deg, hsla(238, 100%, 50%, 0.039) 0px, hsla(238, 100%, 50%, 0.039) 1px,transparent 1px, transparent 36px),
    repeating-linear-gradient(78deg, hsla(238, 100%, 50%, 0.039) 0px, hsla(238, 100%, 50%, 0.039) 1px,transparent 1px, transparent 15px),
    repeating-linear-gradient(290deg, hsla(238, 100%, 50%, 0.039) 0px, hsla(238, 100%, 50%, 0.039) 1px,transparent 1px, transparent 15px),
    repeating-linear-gradient(49deg, hsla(238, 100%, 50%, 0.039) 0px, hsla(238, 100%, 50%, 0.039) 1px,transparent 1px, transparent 15px),
    linear-gradient(90deg,
    #ddfffc,
    #ddfffc);
}

#secondbg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8;
    /* height: 100vh; */
    z-index: 0;
    background-repeat: no-repeat;
    background-image: url(../img/wp.webp);
    background-size: cover;
    background-position: 50%;
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

#majorContainer {
    position: relative;
    z-index: 3;
    width: 66%;
    min-width: 330px;
    border-radius: 20px;
    opacity: 1;
    margin-top: 0;
    padding: 20vh 20px 20px;
    display: inline-block;
    left: 17%;
    top: 15vh;
    height: 70vh;
    text-align: center;
    vertical-align: middle;
}

#minorContainer {
    position: relative;
    z-index: 3;
    width: 66%;
    min-width: 330px;
    border-radius: 20px;
    opacity: 1;
    margin-top: 0;
    padding: 20vh 20px 20px;
    display: inline-block;
    left: 17%;
    top: 15vh;
    height: 70vh;
    text-align: center;
    vertical-align: middle;
}

#orientationText {
    letter-spacing: .20em;
}

#lastText {
    font-size: 30px;
}

#continue {
    position: absolute;
    display: inline-block;
    bottom: 3vh;
    right: 6.5%;
    font-size: 18px;
    transition: all 0.3s;
}
#continuelast {
    position: absolute;
    display: inline-block;
    bottom: 3vh;
    right: 6.5%;
    font-size: 18px;
    transition: all 0.3s;

}
@media only screen and (max-width: 500px) {
    #majorContainer {
        min-width: 60%;
        width: 80%;
        left: 10%;
    }
    #minorContainer {
        min-width: 60%;
        width: 80%;
        left: 10%;
    }
    #continue {
        position: absolute;
        display: inline-block;
        bottom: 3vh;
        font-size: 16px;
        right: 7%;
        transition: all 0.3s ease-out;
    }
    #continuelast {
        position: absolute;
        display: inline-block;
        bottom: 3vh;
        font-size: 16px;
        right: 7%;
        transition: all 0.3s ease-out;
    }
}

